DATABASE_URL="postgresql://postgres:password@localhost:5432/ecommerce_db"
BETTER_AUTH_SECRET="your_secret_key_here"
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET= your_google_client_secret_here 